.markdown h1 {
    font-size: 30px;
    color: #007fff;
}

.markdown h2 {
    font-size: 24px;
    color: #007fff;
}

.markdown h3 {
    font-size: 20px;
    color: #007fff;
}

.markdown p,.markdown code{
    word-break:normal; 
    letter-spacing: 1px;
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}
.markdown pre{
    width: 100%;
    overflow-x: auto;
}
.markdown img{
    float: left;
    max-height: 300px;
    margin: 5px;
    object-fit: contain;
}
.markdown a{
    font-weight: 600;
    text-decoration:underline;
}